@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap');

:root {
    --main-color: #4834d4;
    --red: #e74c3c;
    --orange: #f39c12;
    --black: #34495e;
    --white: #fff;
    --light-color: #999;
    --light-bg: #f5f5f5;
    --border: .2rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1);
}

* {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

::selection {
    color: var(--white);
    background-color: var(--main-color);
}

::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--light-bg);
    padding-left: 35rem;
}

.btn,
.option-btn,
.delete-btn,
.inline-btn,
.inline-option-btn,
.inline-delete-btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    font-size: 1.8rem;
    color: var(--white);
    cursor: pointer;
    padding: 1rem 3rem;
    text-align: center;
}

.delete-btn,
.option-btn,
.btn {
    width: 100%;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn {
    margin-right: .5rem;
}

.inline-btn,
.btn {
    background-color: var(--main-color);
}

.inline-option-btn,
.option-btn {
    background-color: var(--orange);
}

.inline-delete-btn,
.delete-btn {
    background-color: var(--red)ß;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover,
.inline-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover {
    background-color: var(--black);
}

.flex-btn {
    display: flex;
    gap: 1rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--white);
    border-right: var(--border);
    padding: 2rem;
    height: 100vh;
    width: 35rem;
}

.header .logo {
    font-size: 2.5rem;
    color: var(--black);
    text-align: center;
    display: block;
}

.header .logo span {
    color: var(--main-color);
}

.header .profile {
    border-radius: .5rem;
    border: var(--border);
    background-color: var(--light-bg);
    padding: 1.5rem;
    text-align: center;
    margin: 2rem 0;
}

.header .profile p {
    font-size: 2rem;
    color: var(--light-color);
    margin-bottom: .5rem;
}

.header .navbar a {
    display: block;
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 0;

}

.header .navbar a span {
    color: var(--light-color);
}

.header .navbar a i {
    margin-right: 1.5rem;
    color: var(--main-color);
    transition: .2s linear;
}

header .navbar a:hover i {
    margin-right: 2.5rem;
}

#menu-btn {
    font-size: 2rem;
    position: fixed;
    top: 1rem;
    left: 1rem;
    border-radius: .5rem;
    border: var(--border);
    z-index: 1100;
    background-color: var(--white);
    height: 4.5rem;
    width: 5rem;
    line-height: 4.2rem;
    color: var(--black);
    cursor: pointer;
    text-align: center;
    display: none;
}

#menu-btn:hover {
    background-color: var(--black);
    color: var(--white);
}

.dashboard .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
}

.dashboard .box-container .box {
    text-align: center;
    background-color: var(--white);
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 1.5rem;
}

.dashboard .box-container .box h3 {
    font-size: 2.7rem;
    color: var(--black);
}

.dashboard .box-container .box h3 span {
    font-size: 2rem;
}

.dashboard .box-container .box p {
    padding: 1.5rem;
    border-radius: .5rem;
    background-color: var(--light-bg);
    border-radius: .5rem;
    font-size: 1.8rem;
    border: var(--border);
    margin: 1rem 0;
    color: var(--light-color);
}










/* media queries starts */
@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    body {
        padding-left: 0;
    }

    #menu-btn {
        display: inline-block;
    }

    .header {
        left: -35rem;
        transition: .2s linear;
    }

    .header.active {
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 7);
    }
}

@media (max-width:768px) {}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .flex-btn {
        flex-flow: column;
        gap: 0
    }
}

/* media queries end */